body{
    padding: 3%;
    background: center / contain no-repeat  url("../images/bg.jpg"); 
}

#panier{
    position: sticky;
    top: 5%;
    right:100%;
    background-color:#22577A;
    font-size: large;
    color: #FFF;
    border:solid #FFF 2px ;
    padding: 2px;
}

#fixetotal{
    position: sticky!important;
    top: 20px;
    left:100%;
    background-color:#FFF;
    font-size: large;
    color: #22577A;
    border:solid #7a2222 5px ;
    padding: 5px;
    font-weight: bolder;
}

main{
    text-align: center;
}

h1{
    color: #FFF;
    background-color: #22577A;
}
.produit{
    padding: 1%;    
}

.minitotal{
    float: left;
    font-size: large;
    color: rgb(255, 255, 255);
}

#noir{
    background-color: #22577A;
    border: solid 2px #FFF;
}
.card-title{
    color: #FFF;
}
.card-text{
    color: #FFF;
}
.card-body p{
    color: #FFF;
}

.col-md-4{
    display: flex;
    justify-content: center;
}

/*Cet element permet de gerer le style des boutons + -*/
.fmEddu {
    display: flex;
    background-color: #FFF;
    font-size: 15px;
    font-weight: 700;
    justify-content: space-between;
    width: 100px;
    height: 36px;
    align-items: center;

}

.fmEddu input {
    outline: none;
    border: none;
    font-size: 16px;
    background-color: transparent;
    color: #22577A;
}

.fmEddu button {
    padding: 0 10px;
    background-color: #57CC99;
    font-size: 16px;
    color: #22577A;
}

.fmEddu button:hover {
    background-color: #80ED99;
}

.card-body .icons i {
    margin: 0 15px;
}

.card-body .icons {
    margin-bottom: 30px;
}

i:hover{
    color: #80ED99;
}

/*couleur du botton de suppression*/
.far{
    color: #57CC99;
}
/*couleur du coeur*/
.fas{
    color:#80ED99;
}

.delete:hover{
    color: #80ED99;
}
.card{
    background-color: #22577A!important;
    border: solid 2px #FFF!important;

}

.row{
    display: flex;
    justify-content: space-between;
}

button{
    border: none;
    background-color: #000;
    color: #FFF;
}

.card-body .bottom-side {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}